[user]
    name = Tommaso Bailetti
    email = bailetti.tommaso@gmail.com
    signingkey = 38FA3023A824E8B6A729084A0E35BCFD291FC072
[core]
    editor = vim
[commit]
    gpgsign = true
[pull]
    rebase = true
[init]
    defaultBranch = main
[fetch]
    prune = true
